Flask==1.1.2
Flask-RESTful==0.3.8
gevent==21.1.2
redispy==3.0.0
SQLAlchemy==1.4.2
psycopg2-binary==2.8.6
pydantic==1.8.1
argon2_cffi==20.1.0
passlib==1.7.4
flask-praetorian==1.1.0
argon2-cffi==20.1.0
